<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon Product Sentiment Analysis</title>
  </head>
  <body>
    <h1>Amazon Product Sentiment Analysis</h1>
    <form action="/analyze" method="POST">
      <label for="url">Enter aAmazon Product URL:</label><br />
      <input type="text" id="url" name="url" style="width: 500px" /><br /><br />
      <input type="submit" value="Analyze" />
    </form>
  </body>
</html>
